*{
    font-family: "Overlock SC", sans-serif;
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body{
    /* background: radial-gradient(circle, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 65%, rgba(17,25,26,1) 100%); */
    background: url(https://en.idei.club/uploads/posts/2023-05/thumbs/1685488925_en-idei-club-p-medical-background-dizain-pinterest-1.png);
    background-repeat: no-repeat;
    background-size: cover;
}



/* Heading Section */



.headingContainer{
    background: linear-gradient(135deg, rgb(22, 119, 148), rgb(0, 153, 115));
    border: 10px groove rgba(255, 255, 255, 0.18);
    box-shadow: 2px 8px 22px rgba(30, 48, 46, 0.37);
    color: aliceblue;
    height: 80px;
    width: 100%;
}

.headingContainer h1{
    font-family: "Coiny", system-ui;
    font-weight: 700;
    padding: 10px;
}

.headingImg{
    transform: rotate(270deg);
    width: 40px;
}

/* End Of Heading Section */




/* Content Section */



.leftSection img{
    width: 500px;
}
/* media query */
@media screen and (max-width: 1024px) {
    .leftSection img {
        width: 350px;
    }
}


.formBox{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.37);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 20px;
}



.formBox h1{
    box-shadow: 2px 2px 10px black;
    border-radius: 5px 5px 0px 0px;
}

.formbtn{
    box-shadow: 2px 2px 10px rgb(190, 190, 190);
    background-color: rgb(234, 234, 234);
    color: rgb(0, 0, 0);
    transition: all 0.2s;
    border-radius: 10px;
    width: 150px;
    height: 30px;
    border: 0px;

}

.formbtn:hover{
    box-shadow: 2px 2px 5px black;
}

.buttonBox{
    justify-content: center;
    align-items: center;
}

/* End Of Content Section */



/* MODAL SECTION */

.modalFirstSection img{
    height: 300px;
}



.modalSecondSection .colorBox{
    background-color: greenyellow;
    box-shadow: 2px 2px 2px black;
    border-radius: 10px;
}

.modalSecondSection img{
    width: 150px;
}
/* End Of Modal Section */